@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


:root{
    --fonte-destaque:  "Source Sans 3", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(15, 15, 15);
}
h1{
    text-align: center;
}
section#login{
    background-color: rgb(34, 32, 32);
    width: 350px;
    color: white;
    position: absolute;
    font-family: var(--fonte-destaque);
    top: 50%;
    left: 50%;
    border-radius: 15px;
    overflow: hidden;
    transition: width 0.3s, height 0.3s;
    
    transition-timing-function: ease;
    transform: translate(-50%,-50%); 
}

section#login > div#foto{
    background-image: url(../imagem/pexels-barna-morvai-504241176-21140804.jpg);
    border-radius: 15px 15px 0px 0px;
    background-size: cover;
    background-position: center center;
    height: 200px;

}

section#login > div#formlar{
    padding: 5px;
}


div#formlar > form > a{
    float: right;
    color: white;
    font-size: .9em;
}
div#formlar > form > a#cad{
    float: none;
    text-align: center;
    display: block;
    margin-top: 5px;
    
}
form{
    padding: 5px;
}
div.campo > label{
    font-size: 0.8em;
}

div.campo > input{
    display: block;
    background-color: rgb(85, 84, 84);
    
    border-radius: 3px;
    height: 25px;
    border: none;
    
}
form > input[type=submit]{
    display: block;
    margin: auto;
    height: 44px;
    background-image: linear-gradient(to right,  #C77E95, #e9497c);
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    color: white;
    margin-top: 5px;
    width: 100%;

}

